.HomeContainer {
    width:90%;
    box-shadow: 5px 5px 5px gray;
    margin: auto;
    margin-left: 30px;
}

.FacePic {
    background-image: url('./images/linkedin.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
    height:250px;
    margin: 20px;
    float: right;
}

.HomeContainer h3 {
    padding: 10px;
    margin-top: 0;
}

.Intro {
    font-size: 18px;
    line-height: 24pt;
}

@media(max-width:600px){
    .FacePic{
        float: none;
        width: 70%
    }
}